body{
    background-color: #2b3035;
    text-align: center;
    font-family: 'indie flower',cursive;

}

.dice{
    display: inline-block;
}

img{
    width: 80%;
}

h1{


    color: #4ECCA3;
    text-shadow: 10px 0 #232931;
    font-size: 10rem;
    text-align: center;
    margin: 0px;

}
p{

    color: #4ECCA3;
    text-align: center;
    font-size: 2rem;
    margin-top: 0px;
}

.footer{
    font-size: 1.2rem;
    color: #EEEEEE;
    margin-top: 5%;
}

